:host {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}

// Styling for the detailed view of a single book
h1 {
  color: #333;
}

p {
  padding: 0 5px;
  font-size: 1.2em;
  color: #333;
}

.author {
  font-weight: bold;
}
